variables:
  MPLBACKEND: "Agg"

test_notebooks:
  script:
    - |
      zsh -c "
        source ~/.zshrc
        load_conda
        conda activate sage_env
        
        # 1. Clean and Preparse
        cd gaknot
        python3 clean.py
        for f in *.sage; do 
          sage --preparse \"$f\" && mv \"$f.py\" \"${f%.sage}.py\"
        done
        cd ..
        
        # 2. Run Tests
        pytest --nbmake notebooks/*.ipynb --nbmake-kernel=sagemath
      "
  only:
    - master
    - setup-gitlab-ci
