image: condaforge/mambaforge:latest

variables:
  MPLBACKEND: "Agg"

test_notebooks:
  before_script:
    - mamba install -y sage ipytest pytest nbmake nbconvert ipykernel
    - sage -python -m ipykernel install --user --name sagemath --display-name "SageMath"
  script:
    - cd gaknot
    - for f in *.sage; do sage --preparse "$f" && mv "$f.py" "${f%.sage}.py"; done
    - cd ..
    - sage -python -m pytest --nbmake notebooks/*.ipynb --nbmake-kernel=sagemath
  only:
    - master
    - setup-gitlab-ci
