name: CI Tests

on:
  push:
    branches: [ master, setup-github-actions ]
  pull_request:
    branches: [ master, setup-github-actions ]

jobs:
  test:
    runs-on: ubuntu-latest
    container: sagemath/sagemath:latest
    env:
      MPLBACKEND: Agg
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Testing Dependencies
        run: |
          sage -pip install ipytest pytest nbmake nbconvert ipykernel
          # Register the Sage kernel
          sage -python -m ipykernel install --user --name sagemath --display-name "SageMath"

      - name: Preparse Sage files
        run: |
          cd gaknot
          for f in *.sage; do
            sage --preparse "$f"
            mv "$f.py" "${f%.sage}.py"
          done

      - name: Run Tests in Notebooks
        run: |
          sage -python -m pytest --nbmake notebooks/*.ipynb --nbmake-kernel=sagemath
