name: CI Tests

on:
  push:
    branches: [ master, setup-github-actions ]
  pull_request:
    branches: [ master, setup-github-actions ]

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    env:
      MPLBACKEND: Agg
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Mamba
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: sage_env
          python-version: "3.11"
          miniforge-variant: Miniforge3
          miniforge-version: latest
          use-mamba: true
          channels: conda-forge

      - name: Install Sage and Dependencies
        run: |
          mamba install sage ipytest pytest nbconvert ipykernel
          python -m pip install setuptools nbmake
          mamba list
          # Register the Sage kernel
          python -m ipykernel install --user --name sagemath --display-name "SageMath"

      - name: Preparse Sage files
        run: |
          cd gaknot
          for f in *.sage; do
            sage --preparse "$f"
            mv "$f.py" "${f%.sage}.py"
          done

      - name: Diagnostic check
        run: |
          which python
          python --version
          python -c "import pkg_resources; print('pkg_resources found')"
          python -c "import nbmake; print('nbmake found')"

      - name: Run Tests in Notebooks
        run: |
          pytest --nbmake notebooks/*.ipynb --nbmake-kernel=sagemath
